* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background-color: $fourth-color;
  font-family: Arial, Helvetica, sans-serif;
  color: $first-color;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 0.4em;
}

a {
  color: $third-color;
}

.notFoundArticle {
  * {
    text-align: center;
  }
  .fourOfour {
    font-size: 10em;
    margin-bottom: 0;
  }
  a {
    display: block;
  }
}
