:root {
  --first-color: #feffdf;
  --third-color: #97cba9;
  --fourth-color: #fff;
}

$first-color: var(--first-color);
$third-color: var(--third-color);
$fourth-color: var(--fourth-color);

$green: #2e8b35;
$success: $green;
$error: #e3242b;
$danger: #e3242b;
$warning: #ffff46;
