@import "colors.scss";

.filterWrapper {
  transition: 0.2s all ease;
  overflow: hidden;
  margin-top: 1em;
}

.filterHeader {
  width: auto;
  margin-right: 1em;
}

.filterHeaderWrapper {
  display: flex;
  justify-content: space-between;
}

.filterHeader, .sortHeader {
  font-size: 1em;
}

.sortHeader {
  margin-right: 0.2em;
}

.fullHeight {
  max-height: 100vh;
}

.zeroHeight {
  max-height: 0vh;
}

.toggleFiltersButton {
  color: $first-color;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    color: $third-color;
  }
}

.chevronUp {
  &::before {
    content: "\2039";
    width: 0;
  }
  transform: rotate(90deg);
  font-size: 2.5em;
}

.chevronDown {
  &::before {
    content: "\203A";
    width: 0;
  }
  transform: rotate(90deg);
  font-size: 2.5em;
}

.filterHeaderContainer {
  display: flex;
  width: 25%;
}

.sortContainer {
  width: 75%;
  span {
    width: 40%;
    label {
      width: 15%;
      text-align: center;
      padding: 0 1 0 0;
    }
    #sortBy,
    #sortOrder {
      width: 100%;
      padding: 1em;
      color: $first-color;
      background-color: $fourth-color;
    }
  }
  display: flex;
  justify-content: space-between;
  label {
    display: none;
  }
}

.filterGroup {
   display: flex;
   justify-content: space-between;
   .filterContainer {
     width: 49%;
   }
}
