.catchList {
  list-style: none;
  padding: 0;
  li {
    border-bottom: 1px solid $third-color;
    padding: 0 0 0.5em 0;
  }
}

.fishCatchCard {
  position: relative;
  padding: 0.8em;
  height: 50vh;
  .content {
    height: 86%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    .catchInfo {
      width: 20%;
      margin-right: 20%;
    }
    th {
      text-align: left;
    }
    img {
      object-fit: cover;
      object-position: center;
      display: block;
      height: 100%;
      width: 100%;
      margin-top: 1em
    }
  }

  border-bottom: 1px solid $first-color;

  button {
    position: absolute;
    bottom: 0.8em;
    height: 10%;
    width: 48%;
    cursor: pointer;
    padding: 0.4em;
    transition: 0.2s all ease;
    border: $fourth-color 2px solid;
    background-color: $first-color;
    color: $fourth-color;
  }
  .editButton {
    left: 0;
    &:hover {
      background-color: $third-color;
    }
  }
  .deleteButton {
    right: 0;
    float: right;
    &:hover {
      background-color: $danger;
    }
  }
}

.fishCatchPopup {
  .fishCatchCard {
    .editButton {
      left: 0.8em;
    }
    .deleteButton {
      right: 0.8em;
    }
  }
}

article >.fishCatchCard {
  padding: 0.8em 0;
  button {
    width: 49%;
  }
}
