.catchList {
  list-style: none;
  padding: 0;
  li {
    border-bottom: 1px solid $third-color;
    padding: 0 0 0.5em 0;
  }
}

.fishCatchCard {
  position: relative;
  padding: 0.8em;
  height: 100%;
  .content {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    th {
      text-align: left;
    }
    img {
      object-fit: cover;
      object-position: center;
      display: block;
      height: 15em;
      width: 100%;
      margin-top: 0.2em;
    }
  }

  border-bottom: 1px solid $first-color;

  .buttons {
    margin-top: 0.2em;
    height: 2em;
    button {
      width: 49%;
      cursor: pointer;
      padding: 0.4em;
      transition: 0.2s all ease;
      border: $fourth-color 2px solid;
      background-color: $first-color;
      color: $fourth-color;
      border: 1px solid $first-color;
    }
    .editButton {
      left: 0;
      &:hover {
        background-color: $third-color;
      }
    }
    .deleteButton {
      right: 0;
      float: right;
      &:hover {
        background-color: $danger;
      }
    }
  }
}

.fishCatchPopup {
  .fishCatchCard {
    padding: 0.2em;
    .editButton {
      left: 0;
    }
    .deleteButton {
      right: 0;
    }
    .content {
      font-size: 0.9em;
    }
  }
}

article >.fishCatchCard {
  padding: 0.8em 0;
  button {
    width: 49%;
  }
}
