.leaflet-container {
  height: 50vh;
  a.leaflet-popup-close-button {
    top: 8px;
    width: 36px;
    height: 28px;
    font-size: 28px;
    color: $first-color;
    &:hover {
      color: $third-color;
    }
  }
}

.leaflet-popup-content {
  width: fit-content !important;
  .fishCatchCard {
    width: fit-content !important;
    img {
      width: 60%;
      height: auto;
      display: block;
      margin: 0 auto 0.5em;
      border: 2px solid $first-color;
    }
    border-bottom: none;
  }
}

.leaflet-popup-content-wrapper {
  color: $first-color;
  background-color: $fourth-color;
  font-size: 1.4em;
  h3 {
    margin: 0.2em 0 0.2em;
  }
  p {
    margin: 0 0 0.4em 0;
  }
  border-radius: 0;
}

.leaflet-popup-tip {
  background-color: $fourth-color;
}

.mapWrapper {
  position: relative;
}

.noResults {
  background-color: $warning;
  color: #111;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  margin: 0;
  position: absolute;
  z-index: 5000;
  left: 0;
  right: 0;
}

.fishCatchPopup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 7000;
  background: $fourth-color;
  border: 1px solid $first-color;
  section {
    border: none;
  }
  .closeButton {
    z-index: 999;
    position: absolute;
    right: 0.4em;
    top: 0.2em;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    font-size: 2.5em;
    color: $first-color;
    &:hover {
      color: $third-color;
    }
  }
}
