.leaflet-container {
  height: 50vh;
  a.leaflet-popup-close-button {
    top: 8px;
    width: 36px;
    height: 28px;
    font-size: 28px;
    color: $first-color;
    &:hover {
      color: $third-color;
    }
  }
}

.leaflet-popup-content {
  .fishCatchCard {
    img {
      width: 150px;
      height: auto;
      display: block;
      margin: 0 auto;
      border: 2px solid $first-color;
    }
    border-bottom: none;
  }
  button {
    width: 48%;
    cursor: pointer;
    padding: 0.4em;
    transition: 0.2s all ease;
    border: $fourth-color 2px solid;
    background-color: $first-color;
    color: $fourth-color;
  }
  .editButton {
    &:hover {
      background-color: $third-color;
    }
  }
  .deleteButton {
    float: right;
    &:hover {
      background-color: $danger;
    }
  }
}

.leaflet-popup-content-wrapper {
  color: $first-color;
  background-color: $fourth-color;
  font-size: 1.4em;
  h3 {
    margin: 0.2em 0 0.2em;
  }
  p {
    margin: 0 0 0.4em 0;
  }
  border-radius: 0;
}

.leaflet-popup-tip {
  background-color: $fourth-color;
}

.mapWrapper {
  position: relative;
}

.noResults {
  background-color: $warning;
  color: $fourth-color;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  margin: 0;
  position: absolute;
  z-index: 10000;
  left: 0;
  right: 0;
}
