$mobile: 481px;
$tablet: 641px;
$desktop: 1025px;

@media (min-width: $mobile) {
  .fishCatchCard {
    .content {
      flex-flow: row;
      .catchInfo {
        margin-right: 1em;
      }
      img {
        margin-top: 0;
        width: 70%;
      }
    }
    button {
      width: 48%;
    }
  }

  article >.fishCatchCard {
    .content {
      img {
        width: 100%;
      }
    }
  }

  .leaflet-popup-content {
    .fishCatchCard {
      margin-top: 0.5em;
      img {
        margin: 0.5em auto;
      }
    }
  }

  .leaflet-popup-content {
    .fishCatchCard {
      img {
        width: 150px;
      }
    }
  }
}

@media (min-width: $tablet) {
  header {
    * {
      margin-bottom: 1em;
    }
  }

  nav {
    top: 0;
    padding-top: 0;
  }

  .uploadPreviewImage {
    display: block;
    width: 50%;
  }

  .fishCatchCard {
    img {
      max-width: 100%;
    }
  }
}
