.startPage {
  .fishCatches {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    .miniFishCatchCard {
      height: initial;
      padding: 0;
      margin-bottom: 1em;
      border-bottom: none;
      width: 49%;
      border: 1px solid $third-color;
      border-radius: 4px;
      img {
        height: 8em;
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
      .content {
        display: flex;
        flex-direction: column-reverse;
        p {
          text-align: center;
        }
      }
    }
  }
}
