.startPage {
  .fishCatches {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    .fishCatchCard {
      padding-top: 0;
      margin-bottom: 1em;
      border-bottom: none;
      width: 46%;
      .editButton,
      .deleteButton {
        display: none;
      }
      img {
        height: 120px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
